.select {
    select {
        border: none;
    }
}

.control {
    &.has-icons-left {
        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $primary;
        }
    }
}